input {
  color: #2a2a2a;
  border: none;
}

button,
input {
  padding: 1rem 2rem;
  margin-top: .5rem;
}

button {
  display: inline-block;
  padding: 1rem;
  margin-left: .5rem;
  
  border: none;
  background-image: none;
  background-color: #e56d13;
  color: white;

  letter-spacing: 1px;
  transition: all 0.1s linear;
}

button:hover {
  cursor: pointer;
  background: darken(#DD0505, 15%);
}
