.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text { font: 12px sans-serif; }

.node--internal text {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.rep {
  stroke: #ccc;
  stroke-width: 2px;
  flex-wrap: wrap;
  width: 20px;
  height: 20px;
  margin: 2px;
  color: white;
}

.repOnHover {
  background-color:"purple"; 
}

.chair {
  stroke: #ccc;
  stroke-width: 2px;
  flex-wrap: wrap;
  width: 40px;
  height: 20px;
  margin: 2px;
  color: white;
}
  
.viz {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  width: 200px;
  height: 150px;
  background: #f7f7f7;
}