.container {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  width: 400px;
  margin: 20px;
  background-color: white;
}

.title {
  font: 20px sans-serif;
  font-weight: bolder;
  margin: 7px;
  background-color: white;
}

.rep {
  stroke: #ccc;
  stroke-width: 2px;
  flex-wrap: wrap;
  width: 30px;
  height: 50px;
  margin: 2px;
  padding: 0px 10px 0px 10px;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chair {
  stroke: #ccc;
  stroke-width: 2px;
  flex-wrap: wrap;
  width: 158px;
  height: 50px;
  margin: 2px;
  color: white;
  text-align:center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ranking {
  stroke: #ccc;
  stroke-width: 2px;
  flex-wrap: wrap;
  width: 105px;
  height: 50px;
  margin: 2px;
  color: white;
  text-align:center;
  display: flex;
  align-items: center;
  justify-content: center;  
}

.repOnHover {
  outline: 2px solid #55c0ad;
  cursor: pointer;
}

.viz {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  position: relative;
  top:0px;
  padding: 5px;
  overflow: visible;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tip {
  width: fit-content;
  height: fit-content;
  padding: 7px;
  border: 2px solid #55c0ad;
  white-space: pre-line;
  z-index: 10;
  background: white;
}