.container {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  width: 400px;
  height: 400px;
}

.title {
  font: 20px sans-serif;
  font-weight: bolder;
}

.rep {
  stroke: #ccc;
  stroke-width: 2px;
  flex-wrap: wrap;
  width: 20px;
  height: 20px;
  margin: 2px;
  color: white;
  padding: 10px;
  text-align: center;
}

.repOnHover {
  background-color:"purple"; 
}

.chair {
  stroke: #ccc;
  stroke-width: 2px;
  flex-wrap: wrap;
  width: 40px;
  height: 20px;
  margin: 2px;
  color: white;
  padding: 10px;
  text-align:center;
}

.viz {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  background: #f7f7f7;
  position: relative;
  top:0px;
  overflow: visible;
}